<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="_content/Rumas.Maui.Shared/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="_content/Rumas.Maui.Shared/app.css" />
    <link rel="stylesheet" href="Rumas.Maui.Web.styles.css" />
    <ImportMap />
    <link rel="icon" type="image/png" href="_content/Rumas.Maui.Shared/favicon.png" />
    <HeadOutlet @rendermode="InteractiveAuto" />
</head>

<body>
    <Routes @rendermode="InteractiveAuto" />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>

</html>
